.mainlayout {
  height: calc(100vh - 50px);
  display: 'flex'; 
  flex-direction: 'row';
}

.maincontent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mymessage {
  margin-left: auto;
  max-width: 50%;
  border-radius: 5px;

}